* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0px;
  background-color: rgb(140, 244, 239);
}

.navigation {
  position: absolute;
  width: 30px;
  border-radius: 5px;
  margin-top: -205%;
  background-color: var(--blue);
}
.navigation li {
  list-style: none;
  margin-top: 250%;
  height: 25px;
  width: 30px;
  color: var(--blue);
  z-index: 1;
}
.navigation li:nth-last-child(1) {
 margin-bottom: 20px;
}

ion-icon {
  color: var(--white);
  width: 30px;
  height: 30px;
}
footer {
  margin-top: 3%;
  margin-left: 45%;
}


.overlay { 
  position: relative;  
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  /* z-index: -1;  */
  left: 0;
  top: 0;
  margin-top: 5%;
   background: #ff28ea27; 
  /* background: #4c9bb57a; */
	backdrop-filter: blur(5px);
  text-shadow: 0 2px 4px #1d1336;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
  position: relative;
  top: 25%; 
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  /* display: block;  */
  transition: 0.3s; /* Transition effects on hover (color) */
}
.overlay a div{
 margin-left: 12%;
 width: 240px;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  /* top: 20px; */
  right: 45px;
  font-size: 50px;
}

.overlay-content a {
  display: none;
}

.navImg {
  display: none;
  position: absolute;
  margin-top: 20%;
  width: 35px;
  height: 550px;
}

.slider {
  position: relative;
    height: 500px;
    margin: auto;
  }

  
.slide {
  position: absolute;
  top: 0;
  left: 0;
  flex: 0 0 100%;
  transition: transform 1s ease;
}

.imgSliders {
  position: absolute;
  margin-top: 5%;
  margin-left: -110%;
  width: 350px;
  height: 205px;
  border-radius: 10px;
  object-fit: contain;
  object-position: center center;
}
.prev,
.next {
  margin-left: -50%;
  cursor: pointer;
  background-image: -webkit-linear-gradient(#eee1ef, rgb(140, 244, 239));
  border-radius: 10px;
  color: #fff;
  padding: 10px 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.815); 
}

.prev {
  left: 0;
}

.next {
  right: 0;
}


:root {
  --blue: #28a0b0;
  --white: #fff;
  --grey: #f5f5f5;
  --black1: #222;
  --black2: #999;

}

.cardBox {
  margin-left: 300px;
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 30px;
  z-index: 0;
}
.cardBox .card {
  /* margin-top: 10%; */
  position: relative;
  background: var(--blue);
  /* padding: 30px; */
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow:
    inset 5px 5px 6px #acacaca5,
    inset -5px -5px 6px rgb(93, 78, 99);
  z-index: -1;
  animation: 1s ease-out 0s 1 slideInFromTop
}
.cardBox .card:nth-child(3){
  animation: 1s ease-out 0s 1 slideInFromBottom
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.cardBox .card:nth-child(2){
  animation: 1s ease-out 0s 1 slideInFromRight;
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2em;
  color: var(--white);
}
.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1em;
  margin-top: 5px;
}

.cardBox .card:hover {
  background: var(--white);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBox,
.cardBox .card:hover .btn,
.cardBox .card:hover .text,
.cardBox .card:hover span{
   color: var(--blue);
}


.details {
  display: none;
  animation: fade-in3 3s ease-in forwards;
}
.recentCustomers {
  display: none;
  animation: fade-in3 3s ease-in forwards;
}

@keyframes fade-in3 {
  0% {
    height: 0px;
  width: 0px;
  }

  100% {
    height: 300px;
    width: 400px;
  }
}
.btn {
  /* text-decoration: none; */
  position: absolute;
  margin-top: 60%;
  margin-left: -30%;
  color: #fff;
  font-size: 15px;
}
.card span {
  display: none;
  position: absolute;
  z-index: 1;
  margin-top: -25%;
  margin-left: 40%;
  /* background-color: #ee2fdbea; */
  color: #28a0b0;
  border-radius: 5px;
  padding: 4px;
  box-shadow:
  inset 5px 5px 6px #acacaca5,
  inset -5px -5px 6px rgb(93, 78, 99);
}

 @keyframes fade-in {
  0% {
    height: 0px;
  width: 0px;
  }

  100% {
    height: 190px;
    width: 250px;
  }
} 


.text {
  display: none;
  color: white;
  height: 200px;
  width: 200px;
}
.card span {
color: white;
}
img {
  border-radius: 5px;
  filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.8));
}
